@font-face {
    font-family: Avenir;
    src:url("Avenir Free/AvenirLTStd-Book.otf");
}
@font-face {
    font-family: Stout Deco;
    src:url("StoutDeco.ttf");
}

body {
    font-family: Avenir;
    margin: 0;
    background: #eee;
    font-size: 12pt;
}

.content-container {
    background: white;
    max-width: 1000px;
    right: 0;
    position: absolute;
}

@media(max-width: 1135px) {
    .content-container {
        margin-left: 0;
        margin-right: 0;
    }
}

.text-body {
    margin-left: 100px;
    margin-right: 100px;
}

@media(max-width: 500px) {
    .text-body {
        margin-left: 50px;
        margin-right: 50px;
    }
}

.main-image {
    width: 100%;
}

.inline {
    width:100%;
    vertical-align:middle;
}

.inline.half {
    width:49%;
}

.title {
    font-weight: bold;
    margin-top:1em;
    font-size: 2em;
    display: block;
}

.subtitle {
    margin-top:.3em;
    font-size: 1.5em;
    font-style: italic;
    display: block;
}

.fixed-image {
    left: 0;
    width:200px;
    top:200px;
    z-index: -1;
    position: fixed;
}

.sidebar {
    width: 20%;
    min-width: 300px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #E249D7;
    transition: left .3s, height .3s;
}

.sidebar-contents {
    width: 100%;
    bottom: 0;
    position: absolute;
    padding-bottom: 30%;
    padding-left: 10%;
}

.sidebar-elt {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sidebar a {
    text-decoration: none;
}

.my-name {
    font-family: Stout Deco;
    font-size: 3em;
    line-height: 90%;
    background: white;
    padding-left: 2px;
    color:black;
}

.thumbnail-title {
    background: white;
    margin-left: 10%;
    margin-top: 10%;
    padding-right: 15%;
    display: inline-block;
    position: relative;
}

.my-title {
    font-weight: lighter;
    font-size: 1.5em;
    background: white;
    color:black;
}

.my-bio {
    font-size: 1.2em;
    background: white;
}

.glich_img {

}

@media (max-device-width: 999px) {
    body {
        font-size: 16pt;
    }
}