<div class="spiral fixed">
    <div class="spiral-bg">
        <div class="spiral-bg-component right">
            <div class="spiral-bg-component bottom">
                <div class="spiral-bg-component left">
                    <div class="spiral-bg-component top">

                        <div class="spiral-bg-component right">
                            <div class="spiral-bg-component bottom">
                                <div class="spiral-bg-component left">
                                    <div class="spiral-bg-component top">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>