<div class="sidebar">
    <div class="sidebar-header">
        <span class="my-name">
            Noa Chazan
        </span>
        <br />
        <span class="my-title">
            Designer + Developer
        </span>
    </div>
    <div class="sidebar-contents">
        <div class="sidebar-elt">
            <a href="/">
                <span class="my-name">
                    Noa Chazan
                </span>
                <br />
                <span class="my-title">
                    Designer + Developer
                </span>
            </a>
        </div>
        <div class="sidebar-elt">
            <div class="my-bio">
                I like coding, visual design, and improving user experiences. Here are some things that I've made.
            </div>
        </div>
        <div class="sidebar-elt">
            <div class="my-bio">
                <a
                    href='mailto&#58;%6E%65%63&#104;az&#97;&#110;&#64;&#103;&#109;%6&#49;i&#108;%2E%&#54;&#51;&#111;m'>Email</a>
            </div>
            <div class="my-bio">
                <a href="/img/resume.pdf" class="no-smoothstate">Resume</a>
            </div>
            <div class="my-bio">
                <a href="https://github.com/person1123">Github</a>
            </div>
            <div class="my-bio">
                <a href="https://behance.net/nechazan">Behance</a>
            </div>
            <div class="my-bio">
                <a href="https://twitter.com/person_1123">Extremely Unprofessional Twitter</a>
            </div>
        </div>
    </div>
</div>