.spiral {
    width: 80%;
    max-width: calc(100% - 300px);
    height: 100%;
    right:0;
    position: absolute;
}

.spiral.fixed {
    position: fixed;
}

.scrollDummy {
    height: 3000px;
}

.spiral-contents {
	width: 100%;
	height: 100%;
    border-right: 5px solid #E249D7;
    border-bottom: 5px solid #E249D7;
    transition: margin-top .1s, margin-left .1s;
    color: black;
}

.spiral-div {
    width: 400px;
    height: 300px;
    position: absolute;
    /* background-size: cover; */
}
.spiral-div::after {
	background: rgba(100,100,100,0.5);
	margin-left: 10%;
	margin-top: 10%;
    width: 100%;
    height: 100%;
    content: "";
    display: block;
    z-index: -1;
    position: absolute;
    top: 0;
}

.spiral-div:hover .spiral-contents {
	margin-top: 5%;
	margin-left: 5%;
}

.spiral-bg {
	width: 100%;
	height: 100%;
	right: 0;
	bottom: 0;
	position: absolute;
	z-index: -10;
}

.spiral-bg-left {
	width: 61.803398875%;
	height: 100%;
	left: 0;
	position: absolute;
	/* overflow: auto; */
	min-width: 1000px;
}

.spiral-bg-component.right {
	width: 38.196601125%;
	height: 100%;
	right: 0;
	position: absolute;
	background: #ddd;
}
.spiral-bg-component.left {
	width: 38.196601125%;
	height: 100%;
	left: 0;
	position: absolute;
	background: #eee;
}
.spiral-bg-component.top {
	height: 38.196601125%;
	width: 100%;
	top: 0;
	position: absolute;
	background: white;
}
.spiral-bg-component.bottom {
	height: 38.196601125%;
	width: 100%;
	bottom: 0;
	position: absolute;
	background: #ddd;
}

@media (max-width: 1315px) {
	.spiral-bg-left {
		min-width: unset;
		width: 100%;
	}
}

@media (max-width: 1525px) {

	.spiral.fixed {
		width: 1208px;
		max-width: unset;
	}
}

@media (max-width: 1408px) {
	.spiral.fixed {
		left:200px;
	}
}

@media (max-width: 1000px) {
	/*.sidebar-contents {
		visibility: hidden;
		width: 300px;
		right: -30px;
	}*/

	.sidebar {
		left: -150px;
	}

	.sidebar:hover, .sidebar:focus, .sidebar.focused,
	input:checked ~ .sidebar {
		left:0px;
	}

	.spiral {
		width: calc(100% - 150px);
		max-width: unset;
	}

	body .sidebar-button {
	    top: 100px;
	    left: 40px;
		visibility: visible;
	}
	html body input {
	    top: 100px;
	    left: 40px;
		visibility: visible;
	}
}

.sidebar-header {
    opacity: 0;
    padding-top: 0;
    transition: opacity 0.2s;
}

@media (max-device-width: 999px), (max-width: 768px) {
	.sidebar {
		left: 0;
		width: 100%;
		height: 70px;
	}

	body .sidebar-button {
		right: 0;
		top: 0;
		left: unset;
		visibility: visible;
	}
	html body input {
		right: 0;
		top: 0;
		left: unset;
		visibility: visible;
	}

	.sidebar-contents {
		opacity: 0;
		padding-bottom: 100px;
	}
    
    .sidebar-header {
        opacity: 1;
    }
    
    input:checked ~ .sidebar .sidebar-header {
		opacity: 0;
	}

	input:checked ~ .sidebar {
		height: 100%;
	}

	input:checked ~ .sidebar .sidebar-contents {
		opacity: 1;
		width: 90%;
	}

	input:checked ~ .spiral {
		overflow: hidden;
	}

	.spiral {
		top:70px;
		width: 100%;
		height: calc(100% - 70px);
	}

	.scrollDummy {
	    height: 4500px;
	}

	.spiral.fixed {
		left: -22%;
		height: 100%;
		top: 0;
	}

    .spiral-div {
        transform: scale(0.8, 0.8);
    }
}

@media (min-width: 601px) and (max-height: 450px) {
	.spiral.fixed {
		top: -25%;
	}
    
    .spiral-div {
        transform: scale(0.5, 0.5);
    }
}

@media (max-width: 600px) {
	.spiral.fixed {
		left: -42%;
		width: 150%;
	}
    
    .spiral-div {
        transform: scale(0.5, 0.5);
    }
}